<div class="container">
    <div id="graphic">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Colorized Vertices:</h3>
                <div id="vertices_colorized" class="graphics-container">
                    {# #}
                </div>
                <h4>Chromatic Number:</h4>
                <div>
                    <span class="colored">{{ block_1.vertices_chromatic }}</span>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center"> Colorized Edges:</h3>
                <div id="edges_colorized" class="graphics-container">
                    {# #}
                </div>
                <h4>Chromatic Index:</h4>
                <div>
                    <span class="colored">{{ block_1.edges_chromatic }}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="block_2">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Walks:</h3>
                <h4>Opened:</h4>
                <div>
                    <p class="list-line">
                        [
                        {% for vertex in block_2.opened_walk %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    </p>
                </div>
                <h4>Closed:</h4>
                <div>
                    <p class="list-line">
                        [
                        {% for vertex in block_2.closed_walk %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Trails:</h3>
                <h4>Trail:</h4>
                <div>
                    <p class="list-line">
                        [
                        {% for vertex in block_2.trail %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    </p>
                </div>
                <h4>Simple Trail:</h4>
                <div>
                    <p class="list-line">
                        [
                        {% for vertex in block_2.simple_trail %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Circuits:</h3>
                <h4>Circuit:</h4>
                <div>
                    <p class="list-line">
                        [
                        {% for vertex in block_2.circuit %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    </p>
                </div>
                <h4>Simple Circuit:</h4>
                <div>
                    <p class="list-line">
                        [
                        {% for vertex in block_2.simple_circuit %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="block_3">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Euler:</h3>
                <h4>Path:</h4>
                <div>
                    {% if block_3.euler_path|length %}
                        <p class="list-line">
                            [
                            {% for vertex in block_3.euler_path %}
                                <span class="vertex colored">{{ vertex }}</span>
                            {% endfor %}
                            ]
                        </p>
                    {% else %}
                        <span><span class="colored">Not exists</span>&nbsp;[ Graph contains more then two vertices with odd degree ]</span>
                    {% endif %}
                </div>
                <h4>Circuit:</h4>
                <div>
                    {% if block_3.euler_circuit|length %}
                        <p class="list-line">
                            [
                            {% for vertex in block_3.euler_circuit %}
                                <span class="colored">{{ vertex }}</span>
                            {% endfor %}
                            ]
                        </p>
                    {% else %}
                        <span><span class="colored">Not exists</span>&nbsp;[ Graph contains vertices with odd degree ]</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Hamilton:</h3>
                <h4>Path:</h4>
                <div>
                    {% if block_3.hamilton_path|length %}
                        <p class="list-line">
                            [
                            {% for vertex in block_3.hamilton_path %}
                                <span class="colored">{{ vertex }}</span>
                            {% endfor %}
                            ]
                        </p>
                    {% else %}
                        <span><span class="colored">Not exists</span>&nbsp;[ ... ]</span>
                    {% endif %}
                </div>
                <h4>Circuit:</h4>
                <div>
                    {% if block_3.hamilton_circuit|length %}
                        <p class="list-line">
                            [
                            {% for vertex in block_3.hamilton_circuit %}
                                <span class="vertex colored">{{ vertex }}</span>
                            {% endfor %}
                            ]
                        </p>
                    {% else %}
                        <span><span class="colored">Not exists</span>&nbsp;[ Graph has vertices with degree less then 2 ]</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="block_4">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Connectivities Info:</h3>
                <div>
                    <h4>Connectivity count:</h4>
                    <div>
                        <span class="colored">{{ block_4.connectivity_count }}</span>
                    </div>
                    <h4>Max. Connectivity Girth:</h4>
                    <div>
                        <span class="colored">{{ block_4.girth }}</span>
                    </div>
                    <h4>Max. Connectivity Circumference:</h4>
                    <div>
                        <span class="colored">{{ block_4.circumference }}</span>
                    </div>
                    <h4>Max. Connectivity Diameter:</h4>
                    <div>
                        <span class="colored">{{ block_4.diameter }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="block_6">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Spanning Tree (BFS):</h3>
                <div id="spanning_tree_bfs" class="graphics-container">
                    {# #}
                </div>
            </div>
        </div>
    </div>
</div>

{% partial "@graphic_default" %}
