<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'lab1' %}active{% endif %}"><a href="{{ 'lab1'|page }}">Lab 1</a></li>
                <li class="{% if this.page.id == 'lab2' %}active{% endif %}"><a href="{{ 'lab2'|page }}">Lab 2</a></li>
                <li class="{% if this.page.id == 'lab3' %}active{% endif %}"><a href="{{ 'lab3'|page }}">Lab 3</a></li>
                <li class="{% if this.page.id == 'lab4' %}active{% endif %}"><a href="{{ 'lab4'|page }}">Lab 4</a></li>
            </ul>
        </div>
    </div>
</nav>
