.graphics-container {
    width: 30vw;
    height: 30vw;
    margin: auto;
    box-shadow: 0 0 15px whitesmoke;
}
#borovka,
#prim,
#kruskal {
    height: 20vw;
    margin: auto;
    box-shadow: 0 0 15px whitesmoke;
}
.matrix {
    position: relative;
}
.matrix:after {
    right: -6px;
    border-left: 0;
}
.matrix .cell {
    height: 30px;
    width: 30px;
}
.list-line {
    height: 20px;
}
.list-line .vertex,
.list-line .edge {
    font-weight: bold;
}
.colored {
    font-weight: bold;
    color: red;
}

