<div class="container">
    <div id="graphic">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Original:</h3>
                <div id="original" class="graphics-container">
                    {# #}
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Simplified:</h3>
                <div id="simplified" class="graphics-container">
                    {# #}
                </div>
            </div>
        </div>
    </div>
    <div id="block_1">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Matrix:</h3>
                <div>
                    <table>
                        <tbody class="matrix">
                        {% for row in block_1.matrix %}
                            <tr class="{{ loop.index == 1 ? 'colored' : '' }}">
                                {% for cell in row %}
                                    <td class="cell {{ loop.index == 1 ? 'colored' : '' }}" >{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">List:</h3>
                <div>
                    {% for key,vertex in block_1.list %}
                        <p class="list-line">
                            <span class="vertex colored">{{ key }}:&nbsp;</span>
                            [
                            {% for adjacency in vertex %}
                                {{ adjacency }}
                            {% endfor %}
                            ]
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="block_2">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Vertices:</h3>
                <div>
                    <div>
                        <h4>Degrees:</h4>
                        <div>
                            {% for key,value in block_2.vertices.degrees %}
                                <p class="list-line">
                                    <span class="vertex"><span class="colored">{{ key }}:</span>&nbsp;{{ value }}</span>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        <h4>Isolated:</h4>
                        <div>
                            <p class="list-line">
                                [
                                {% for key,value in block_2.vertices.isolated %}
                                    <span class="vertex colored">{{ key }}</span>
                                {% endfor %}
                                ]
                            </p>
                        </div>
                    </div>
                    <div>
                        <h4>Hanging:</h4>
                        <div>
                            <p class="list-line">
                                [
                                {% for key,value in block_2.vertices.hanging %}
                                    <span class="vertex colored">{{ key }}</span>
                                {% endfor %}
                                ]
                            </p>
                        </div>
                    </div>
                    <div>
                        <h4>Looped:</h4>
                        <div>
                            <p class="list-line">
                                [
                                {% for key,value in block_2.vertices.looped %}
                                    <span class="vertex colored">{{ key }}</span>
                                {% endfor %}
                                ]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Edges:</h3>
                <div>
                    <div>
                        <h4>Hanging:</h4>
                        <div>
                            <p class="list-line">
                                {% for edge in block_2.edges.hanging %}
                                    [
                                    {% for vertex in edge %}
                                        <span class="vertex colored">{{ vertex }}</span>
                                    {% endfor %}
                                    ]
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div>
                        <h4>Multiple:</h4>
                        <div>
                            <p class="list-line">
                                {% for edge in block_2.edges.multiple %}
                                    [
                                    {% for vertex in edge %}
                                        <span class="vertex colored">{{ vertex }}</span>
                                    {% endfor %}
                                    ]
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="block_3">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Simplified List:</h3>
                <div>
                    {% for key,vertex in block_3.list %}
                        <p class="list-line">
                            <span class="vertex colored">{{ key }}:&nbsp;</span>
                            [
                            {% for adjacency in vertex %}
                                {{ adjacency }}
                            {% endfor %}
                            ]
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="block_4">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Components:</h3>
                <div>
                    {% for component in block_4.components %}
                        <p class="list-line">
                            [
                            {% for vertex in component %}
                                <span class="vertex colored">{{ vertex }}</span>
                            {% endfor %}
                            ]
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="block_5">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Components DFS:</h3>
                <div>
                    {% for edge in block_5.dfs %}
                        <p class="list-line">
                            {% for vertex in edge %}
                                [
                                {% for adjacency in vertex %}
                                    <span class="vertex colored">{{ adjacency }}</span>
                                {% endfor %}
                                ]
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Components BFS:</h3>
                <div>
                    {% for edge in block_5.bfs %}
                        <p class="list-line">
                            {% for vertex in edge %}
                                [
                                {% for adjacency in vertex %}
                                    <span class="vertex colored">{{ adjacency }}</span>
                                {% endfor %}
                                ]
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="block_5_dfs_items">
                {# #}
            </div>
            <div class="col-md-6" id="block_5_bfs_items">
                {# #}
            </div>
        </div>
    </div>
</div>

{% partial "@graphic_default" %}

{% put scripts %}

<script>

  $(document).ready(() => {

    const block_5_graphics = {{ block_5_graphics|json_encode|raw }}

    for (let block_key in block_5_graphics) {
      for (let key in block_5_graphics[block_key]) {
        const nodes = new vis.DataSet(block_5_graphics[block_key][key]['nodes']);
        const edges = new vis.DataSet(block_5_graphics[block_key][key]['edges']);

        const id = `block_5_${block_key}_item_${key}`
        const div = `<div id="${id}" class="graphics-container"></div>`
        $(div).appendTo( $(`#block_5_${block_key}_items`) );
        const container = document.getElementById(id);

        const data = {
          nodes: nodes,
          edges: edges
        };
        const options = {};

        new vis.Network(container, data, options);
      }
    }

  });

</script>

{% endput %}
