title = "Demonstration"
url = "/"
layout = "default"
==

<div class="container width-100">

    <div class="jumbotron width-100 text-center">
        <h1>Algorithms on graphs</h1>
        <p>Select one of laboratory works in header</p>
    </div>

</div>

{% put styles %}

    <style>
        .width-100 {
            width: 100%;
        }
    </style>

{% endput %}
