<div class="container">
    <div id="graphic">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Original:</h3>
                <div id="original" class="graphics-container">

                </div>
            </div>
        </div>
    </div>
    <div id="block_1">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Borovka:</h3>
                <div>
                    {% for edge in block_1.borovka %}
                        [
                        {% for vertex in edge %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Prim:</h3>
                <div>
                    {% for edge in block_1.prim %}
                        [
                        {% for vertex in edge %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Kruskal:</h3>
                <div>
                    {% for edge in block_1.kruskal %}
                        [
                        {% for vertex in edge %}
                            <span class="vertex colored">{{ vertex }}</span>
                        {% endfor %}
                        ]
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center"></h3>
                <div id="borovka">

                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center"></h3>
                <div id="prim">

                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center"></h3>
                <div id="kruskal">

                </div>
            </div>
        </div>
    </div>
</div>

{% partial "@graphic_default" %}
